@import "tailwindcss";
@import 'react-datepicker/dist/react-datepicker.css';

:root{
  --radius: 0.75rem;
}

body{font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}

.container{max-width:1100px}
